target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Default ignored files
/shelf/
/workspace.xml

### STS ###
.apt_generated
.classpath
.factorypath
#.project
#.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
#.idea
*.iws
*.iml
*.ipr